* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url("../images/bg/Shiny Overlay.svg"); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size:cover;
}



.clock {
width: 250px;
position: absolute;
top: 0;
left: 0;
margin-top: 6px;
margin-left: 36px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: 'Fredericka the Great', cursive;
    background-color: rgba(0, 106, 145, 0.06);
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 27px;
    color: rgb(145, 245, 145);
    font-size: 42px;
    padding-left: 22px;
    padding-right: 22px;
    font-style: italic;
    font-weight: 250;
    margin-left: 4px;
    margin-right: 4px;
    
}

.logo-l,.logo-r {
    margin-top: 5px;
}



.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    width: 425px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;   
    margin-right: 7px;
}

.naslov {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0; 
}

.main {
    margin-top: 50px;
}

.copyright {
    font-family: 'Fredericka the Great', cursive;
    background-color: rgba(0, 106, 145, 0.06);
    border-radius: 27px;
    color: rgb(145, 245, 145);
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}
